</head>
    <body>
        <!--navbar-static-top-->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation"> 
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls-"navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="/"><i class="fas fa-basketball-ball"></i><span class="hidden-sm"> McNaughton Madness</span></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!--If a local variable named page and is equal to "campgrounds", then give this list item a class of active-->
                        <!--We pass page into each view via the res.render() method in routes/campgrounds.js-->
                        <li class="<%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>"><a href="/home">Home</a></li>
                        <li class="<%= typeof page !== 'undefined' && page === 'users' ? 'active' : '' %>"><a href="/users">Users</a></li>
                        <li class="dropdown <%= typeof page !== 'undefined' && page === 'about' ? 'active' : '' %>">
        				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a> 
        					<ul class="dropdown-menu">
        						<li><a href="/rules">Rules</a></li>
        						<!--<li><a href="/history">History</a></li>-->
        						<li><a href="/tournamentStandings">Previous Standings</a></li>
        						<!--<li><a href="/website">Website Creation</a></li>-->
        					</ul>
        				</li>
        				<li class="<%= typeof page !== 'undefined' && page === 'tournaments' ? 'active' : '' %>"><a href="/tournaments/2018">Current Bracket</a></li>
        				<li class="dropdown <%= typeof page !== 'undefined' && page === 'tournamentGroups' ? 'active' : '' %>">
        				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups <b class="caret"></b></a> 
        					<ul class="dropdown-menu">
        						<li><a href="/tournamentGroups">All Groups</a></li>
        						<% if(currentUser) { %>
            						<% for (var i = 0; i < currentUser.tournamentGroups.length; i++) { %>
            						    <% if (currentUser.tournamentGroups[i].year === (new Date()).getFullYear() ) { %>
            						        <li><a href="/tournamentGroups/<%= currentUser.tournamentGroups[i].groupName %>" ><%= currentUser.tournamentGroups[i].groupName %></a></li>
            						    <% } %>
            						<% } %>
            					<% } %>
        						<li><a href="/tournamentGroups/new">Create Group</a></li>
        					</ul>
        				</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser) { %>
                             <!--We pass page into each view via the res.render() method in routes/index.js-->
                            <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                            <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li class="dropdown <%= typeof page !== 'undefined' && page === 'profile' ? 'active' : '' %>">
            				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi <%= currentUser.firstName %>! <b class="caret"></b></a> 
            					<ul class="dropdown-menu">
            						<li><a href="/users/<%= currentUser.username %>">Profile</a></li>
            						<% for (var i = 0; i < currentUser.tournamentGroups.length; i++) { %>
            						    <% if (currentUser.tournamentGroups[i].year === (new Date()).getFullYear() ) { %>
            						        <li><a href="/tournamentGroups/<%= currentUser.tournamentGroups[i].groupName %>" ><%= currentUser.tournamentGroups[i].groupName %></a></li>
            						    <% } %>
            						<% } %>
            						<li><a href="#">Edit Profile</a></li>
            						<li><a href="/logout">Log Out</a></li>
            					</ul>
            				</li>
                        <% } %>
                    </ul>
                </div>
            </div>
          
        </nav>
        <!--used for flash messages-->
        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
            <% if(info && info.length > 0) { %>
                <div class="alert alert-info" role="alert">
                    <%= info %>
                </div>
            <% } %>
        </div>
        
      
    
 
       
  