<!DOCTYPE html>
<html>
    <head>
        <title>McNaughton March Madness</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
        
        <div class="jumbotron hero">
            <p class="intro" id="intro">McNaughton</p>
            <h1 id="headline">Madness</h1>
            <p class="year"><span class="icomoon icon-bracketLeft"></span><%= new Date().getFullYear() %><span class="icomoon icon-bracketRight"></span></p>
            <!--<p>Bracket Challenge</p>-->
        </div>
        
 		<!--<h1>McNaughton Madness</h1>-->
 		<% if(!currentUser) { %>
 		    <a href="/home" class="btn btn-lg btn-primary">Home</a>
 		    <a href="/login" class="btn btn-lg btn-primary">Login</a>
 		    <a href="/register" class="btn btn-lg btn-primary">Sign Up</a>
        <% } else { %>
                <a href="/home" class="btn btn-lg btn-primary">Home</a>
                <a href="/users/<%= currentUser.username %>" class="btn btn-lg btn-primary">My Profile</a>
                <% if (currentUser.tournamentGroups.length === 0 || (currentUser.tournamentGroups[0].year !== new Date().getFullYear() )) { %>
                    <a href="/tournamentGroups" class="btn btn-lg btn-primary">Join a Group</a>
                <% } else { %>
                    <a href="/tournamentGroups/<%= currentUser.tournamentGroups[0].groupName %>"
                            class="btn btn-lg btn-primary" ><%= currentUser.tournamentGroups[0].groupName %></a>
                <% } %>
        <% } %>
		
		
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>