<% include ../partials/header %>

<% var numRound = round.numRound %>
<h1 style="text-align: left;"> 
    <% if (numRound < 7) { %>
        Round <%= numRound %> Picks:
    <% } else if (numRound === 7) { %>
        Final Four Picks:
    <% } else {%>
        Champion Pick:
    <% } %>
</h1>




<!--=======================================================-->
<!--UPDATE FORM ACTION AND LOCATION-->
<!--=======================================================-->
<!--<div class="container">-->
    <div class="row">
        <form class="teamPicker" action="/tournamentGroups/<%= tournamentGroup.groupName %>/userTournaments/<%= username %>/<%=numRound%>?_method=PUT" method="POST">
            
            <% for(var j = 0; j < tournament.rounds[numRound - 1].matches.length; j++) { %>
                <% var quarterNumMatches = tournament.rounds[numRound-1].matches.length / 4 %>
                
                <% if(numRound < 5 && j % quarterNumMatches === 0 ) { %>
                    <div class="regionPicker col-xs-12 col-sm-6 col-md-3 ">
                        <h2 class="regionLabel"><%=tournament.regions[Math.floor(j / quarterNumMatches)]%></h2>
                <% } else if (numRound === 5 || numRound === 6) { %>
                    <div class="regionPicker col-xs-12 col-sm-6 col-md-3 ">
                <% } %>
                    
                    <% var match = tournament.rounds[numRound - 1].matches[j]; %>
                
                    <% if (!match.winner) { %>
                    
                        <div class="form-group matchPicker">
                            <% var matchNum = match.matchNumber %>
                            <% var idMaker = tournament.year + "m" + match.matchNumber %>
                            
                            <label for="<%=idMaker%>top" style="display: block">
                                <div class="team" >
                                    <input class="radio" type="radio" id="<%=idMaker%>top" name="<%=matchNum%>" value="<%= match.topTeam._id %>" required>
                                    <div class="teamTitle">
                                        <% if(match.topTeam !== null) { %>
                                            <img class="pickerImage" src="<%= match.topTeam.image %>">
                                            <span class="seed"><%=match.topTeam.seed%></span>
                                            <span class="teamName"><%=match.topTeam.name.replace("State","St.")%></span>
                                        <% } else { %>
                                            &nbsp
                                        <% } %>
                                    </div>
                                </div>
                            </label>

                            <label for="<%=idMaker%>bottom" style="display: block">
                                <div class="team">
                                    <input class="radio" type="radio" id="<%=idMaker%>bottom" name="<%=matchNum%>" value="<%= match.bottomTeam._id %>">
                                    <div class="teamTitle">
                                        <% if(match.bottomTeam !== null) { %>
                                            <img class="pickerImage"  src="<%= match.bottomTeam.image %>">
                                            <span class="seed"><%=match.bottomTeam.seed%></span>
                                            <span class="teamName"><%=match.bottomTeam.name.replace("State","St.")%></span>
                                        <% } else { %>
                                            &nbsp
                                        <% } %>
                                    </div>
                                </div>
                            </label> 
                            
                            <div class="form-group">
                                <input class="form-control" type="text" name="<%=matchNum%>" placeholder="Optional comment">
                            </div>
            
                        </div>
                    <% } %>    
                
               
               <% if(numRound < 5 && j % quarterNumMatches ===  quarterNumMatches - 1) { %>
                    </div>
                <% } else if (numRound === 5 || numRound === 6) { %>
                    </div>
                <% } %>
               
               
            <% } %>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-default btn-block">Submit</button>
            </div>
        </form>
    </div>
<!--</div>-->


<% include ../partials/footer %>