<% include ../partials/header %>
        <div class="jumbotron hero">
            <p class="intro" id="intro">McNaughton</p>
            <h1 id="headline">Madness</h1>
            <p class="year"><span class="icomoon icon-bracketLeft"></span><%= new Date().getFullYear() %><span class="icomoon icon-bracketRight"></span></p>
            <p><%= new Date().getFullYear() %> Tournament Groups</p>
        </div>


<div class="row itemDisplay">
    <% tournamentGroups.forEach(function(tournamentGroup) { %>
    
        <div class="col-md-3 col-sm-6">
            <div class="groupInformation">
                <div class="groupDescription">
                    <h4><%= tournamentGroup.groupName %></h4>
                    <% if (tournamentGroup.publicGroup) {%>
                        <h5><em>Public</em></h5>
                    <% } else { %>
                        <h5><em>Private</em></h5>
                    <% } %>
                    <h6>Commissioner: <%= tournamentGroup.commissioner.name %></h6>
                    <p class="motto"><%= tournamentGroup.groupMotto %></p>
                </div>
                <p>
                    <!--Fix link to make it by year as well-->
                    <a href="/tournamentGroups/<%= tournamentGroup.groupName %>" class="btn btn-primary viewGroupButton">View Group</a>
                </p>
            </div>
        </div>    
    
    <% }); %>
</div>


<% include ../partials/footer %>