<!DOCTYPE>
<html>
    <head>
        <!--Make site responsive on mobile/tablet-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>McNaughton March Madness</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
    	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    	<link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        
    	<script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
          
        <script type="text/javascript" src="/js/nhpup_1.1.js"></script>
          
        
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        
<% include ../partials/navBar %>

<% var tournament = tournamentGroup.tournamentReference.id %>

<main id="tournament">
    <div class="navbar navbar-inverse navbar-center">
        <ul class="nav navbar-nav">
            <li><a href="/tournamentGroups/<%= tournamentGroup.groupName%>"><i class="fas fa-table"></i> Standings</a></li>
            <li><a href="/tournamentGroups/<%= tournamentGroup.groupName%>/bracket"><i class="fas fa-trophy"></i> Group Bracket</a></li>
            <li><a href="/tournamentGroups/<%= tournamentGroup.groupName%>/messageboard"><i class="fas fa-comments"></i> Message Board</a></li>
        </ul>
    </div>
    <div class="jumbotron hero">
        <p class="intro" id="intro">McNaughton</p>
        <h1 id="headline">Madness</h1>
        <p class="year"><span class="icomoon icon-bracketLeft"></span><%=tournamentGroup.tournamentReference.year%><span class="icomoon icon-bracketRight"></span></p>
        <p><%=tournamentGroup.groupName%></p>
    </div>
    
    <div class="container-fluid tournamentContents" style="padding-bottom: 50px; min-height: 300px">
        <div class="row">
            <div class="col-xs-12 bracket"> 
            
                <!--=========================-->
                <!--      FOUR QUADRANTS     -->
                <!--=========================-->
                <% for (quadNum = 0; quadNum < 4; quadNum++) { %>
                    <% if (quadNum === 0) { %>
                        <div class="bracketContents leftSide">
                    <% } else if (quadNum === 2) { %>
                        <div class="bracketContents rightSide">
                    <% } %>
                    
                            <% if (quadNum % 2 === 0) { %>
                                <div class="bracketQuadrant bracketRegion topRegion">
                            <% } else { %>
                                <div class="bracketQuadrant bracketRegion bottomRegion">
                            <% } %>
                                    <h2 class="regionLocation"><%=tournament.regions[quadNum]%></h2>
                                    <div>
                                        <div class="regionRounds">
                                            <!--5 rounds per region-->
                                            <% for(var i = 0; i < tournament.rounds.length-1; i++) { %>
                                                <div class="oneRound">
                                                    <!--number of matches vary per round: we only want 1/4 of all matches in the round in this quadrant-->
                                                    <% var quarterNumMatches = tournament.rounds[i].matches.length / 4 %>
                                                    <% for(var j = 0; j < quarterNumMatches; j++) { %>
                                                        <% var match = tournament.rounds[i].matches[Math.floor(quadNum * quarterNumMatches) + j] %>
                                                        <div class="match" id="match<%= match.matchNumber%>" onmouseover="nhpup.popup($('#matchAggregate<%= match.matchNumber %>').html());">
                                                            <% if (i < tournament.rounds.length - 2 || quadNum % 2 === 0) { %>
                                                                <div class="team">
                                                                    <div class="teamTitle">
                                                                        <% if(match.topTeam !== null) { %>
                                                                            <img src="<%= match.topTeam.image %>">
                                                                            <span class="seed"><%=match.topTeam.seed%></span>
                                                                            
                                                                            
                                                                            <span class="teamName"><%=match.topTeam.name.replace("State","St.")%></span>
                                                                         <% } else { %>
                                                                            &nbsp
                                                                        <% } %>
                                                                    </div>
                                                                    <!--end team title-->
                                                                </div>
                                                                <!--end top team-->
                                                            <% } %>
                                                            
                                                            
                                                            
                                                            <% if (i < tournament.rounds.length - 2 || quadNum % 2 === 1) { %>
                                                                <div class="team">
                                                                    <div class="teamTitle">
                                                                        <% if(match.bottomTeam !== null) { %>
                                                                            <img src="<%= match.bottomTeam.image %>">
                                                                            <span class="seed"><%=match.bottomTeam.seed%></span>
                                                                            <span class="teamName"><%=match.bottomTeam.name.replace("State","St.")%></span>
                                                                        <% } else { %>
                                                                            &nbsp
                                                                        <% } %>
                                                                    </div>
                                                                    <!--end team title-->
                                                                </div>
                                                                <!--end bottom team-->
                                                            <% } %>
                                                            
                                                        </div>
                                                        <!--end match-->
                                                        
                                                        <div class="aggregateBox" id="matchAggregate<%= match.matchNumber %>" style= "width: 500px; display: none;">
                                                            <!--things get screwy here if all participants go a round without picking...but I guess if an entire group forgets to pick, no one cares enough-->
                                                            <% if(tournamentGroup.userMatchAggregates[match.matchNumber-1] && match.topTeam && match.bottomTeam){ %>
                                                                <% var agg = tournamentGroup.userMatchAggregates[match.matchNumber-1] %>
                                                            
                                                               
                                                                <% if (!match.winner) { %> 
                                                                    <div class="aggregate noWin" >
                                                                <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                                   <div class="aggregate win" >
                                                                <% } else { %>
                                                                    <div class="aggregate loss" >
                                                                <% } %>
                                                                        <div class="teamHeader">
                                                                            <%var winScore = Math.round(agg.topWinScore * 10000)/10000 %>
                                                                            <%var lossScore = Math.round(agg.topLossScore * 10000)/10000 %>
                                                                            <h5 style="display: inline-block; "><strong><%=match.topTeam.name%></strong></h5>
                                                                            <h6 style="display: inline-block; float: right;">(
                                                                                <% if (!match.winner) { %> 
                                                                                    +<%=winScore%> or <%=lossScore%>
                                                                                <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                                                   +<%=winScore%>
                                                                                <% } else { %>
                                                                                   <%=lossScore%>
                                                                                <% } %>
                                                                            )</h6>
                                                                        </div>
                                                                        <ul>
                                                                            <% for (var k = 0; k < agg.topTeamPickers.length; k++) { %>
                                                                                <li>
                                                                                    <%= agg.topTeamPickers[k].firstName %>
                                                                                    <% if(agg.topTeamPickers[k].comment && agg.topTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                                        <em>- <%= agg.topTeamPickers[k].comment %></em>
                                                                                    <% } %>
                                                                                </li>
                                                                            <% } %>
                                                                        </ul>
                                                                    </div>
                                                               
                                                                 <% if (!match.winner) { %> 
                                                                    <div class="aggregate noWin" >
                                                                <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                                   <div class="aggregate win" >
                                                                <% } else { %>
                                                                    <div class="aggregate loss" >
                                                                <% } %>
                                                                        <div class="teamHeader">
                                                                            <%var winScore = Math.round(agg.bottomWinScore * 10000)/10000 %>
                                                                            <%var lossScore = Math.round(agg.bottomLossScore * 10000)/10000 %>
                                                                            <h5 style="display: inline-block; "><strong><%=match.bottomTeam.name%></strong></h5>
                                                                            <h6 style="display: inline-block; float: right;">(
                                                                                <% if (!match.winner) { %> 
                                                                                    +<%=winScore%> or <%=lossScore%>
                                                                                <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                                                   +<%=winScore%>
                                                                                <% } else { %>
                                                                                   <%=lossScore%>
                                                                                <% } %>
                                                                            )</h6>
                                                                        </div>
                                                                        <ul>
                                                                            <% for (var k = 0; k < agg.bottomTeamPickers.length; k++) { %>
                                                                                <li>
                                                                                    <%= agg.bottomTeamPickers[k].firstName %>
                                                                                    <% if(agg.bottomTeamPickers[k].comment && agg.bottomTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                                        <em>- <%= agg.bottomTeamPickers[k].comment %></em>
                                                                                    <% } %>
                                                                                </li>
                                                                            <% } %>
                                                                        </ul>
                                                                </div>
                                                                
                                                            <% } %>
                                                            
                                                        </div>
                                                    <% } %> 
                                                    <!--end looping through quarterNumMatches-->
                                                </div>
                                                <!--end oneRound-->
                                            <% } %>
                                            <!--end looping through rounds-->
                                        </div>
                                        <!--end regionRounds-->
                                    </div>
                                    <!--end blank div-->
                            </div>
                            <!--end top/bottom region-->
                    
                    <% if (quadNum % 2 === 1) { %>
                        </div>
                    <% } %>
                    <!--end left/right side-->
                <% } %>
                <!--end quadNum for loop-->
                
                
                
                <!--=========================-->
                <!--       CHAMPIONSHIP      -->
                <!--=========================-->
                <div class="bracketContents championshipSide">
                    <div class="bracketQuadrant centerRegion">
                        <h2 class="regionLocation">Final Four</h2>
                        <div>
                            <div class="regionRounds">
                                
                                <% for(var i = 4; i < tournament.rounds.length; i++) { %>
                                    <div class="oneRound">
                                        <% for(var j = 0; j < tournament.rounds[i].matches.length; j++) { %>
                                            <% var match = tournament.rounds[i].matches[j] %>
                                            <div class="match" id="match<%= match.matchNumber%>" onmouseover="nhpup.popup($('#matchAggregate<%= match.matchNumber %>').html());">
                                                <% if (i < tournament.rounds.length - 2 || quadNum % 2 === 0) { %>
                                                    <div class="team">
                                                        <div class="teamTitle">
                                                            <% if(match.topTeam !== null) { %>
                                                                <img src="<%= match.topTeam.image %>">
                                                                <span class="seed"><%=match.topTeam.seed%></span>
                                                                <span class="teamName"><%=match.topTeam.name.replace("State","St.")%></span>
                                                             <% } else { %>
                                                                &nbsp
                                                            <% } %>
                                                        </div>
                                                        <!--end team title-->
                                                    </div>
                                                    <!--end top team-->
                                                <% } %>

                                                    <div class="team">
                                                        <div class="teamTitle">
                                                            <% if(match.bottomTeam !== null) { %>
                                                                <img src="<%= match.bottomTeam.image %>">
                                                                <span class="seed"><%=match.bottomTeam.seed%></span>
                                                                <span class="teamName"><%=match.bottomTeam.name.replace("State","St.")%></span>
                                                            <% } else { %>
                                                                &nbsp
                                                            <% } %>
                                                        </div>
                                                        <!--end team title-->
                                                    </div>
                                                    <!--end bottom team-->
                                             
                                                
                                            </div>
                                            <!--end match-->
                                            
                                            <div class="aggregateBox" id="matchAggregate<%= match.matchNumber %>" style= "display: none;">
                                                <!--things get screwy here if all participants go a round without picking...but I guess if an entire group forgets to pick, no one cares enough-->
                                                <% if(tournamentGroup.userMatchAggregates[match.matchNumber-1] && match.topTeam && match.bottomTeam){ %>
                                                    <% var agg = tournamentGroup.userMatchAggregates[match.matchNumber-1] %>
                                                
                                                   
                                                    <% if (!match.winner) { %> 
                                                        <div class="aggregate noWin" >
                                                    <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                       <div class="aggregate win" >
                                                    <% } else { %>
                                                        <div class="aggregate loss" >
                                                    <% } %>
                                                            <div class="teamHeader">
                                                                <%var winScore = Math.round(agg.topWinScore * 10000)/10000 %>
                                                                <%var lossScore = Math.round(agg.topLossScore * 10000)/10000 %>
                                                                <h5 style="display: inline-block; "><strong><%=match.topTeam.name%></strong></h5>
                                                                <h6 style="display: inline-block; float: right;">(
                                                                    <% if (!match.winner) { %> 
                                                                        +<%=winScore%> or <%=lossScore%>
                                                                    <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                                       +<%=winScore%>
                                                                    <% } else { %>
                                                                       <%=lossScore%>
                                                                    <% } %>
                                                                )</h6>
                                                            </div>
                                                            <ul>
                                                                <% for (var k = 0; k < agg.topTeamPickers.length; k++) { %>
                                                                    <li>
                                                                        <%= agg.topTeamPickers[k].firstName %>
                                                                        <% if(agg.topTeamPickers[k].comment && agg.topTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                            <em>- <%= agg.topTeamPickers[k].comment %></em>
                                                                        <% } %>
                                                                    </li>
                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                   
                                                     <% if (!match.winner) { %> 
                                                        <div class="aggregate noWin" >
                                                    <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                       <div class="aggregate win" >
                                                    <% } else { %>
                                                        <div class="aggregate loss" >
                                                    <% } %>
                                                            <div class="teamHeader">
                                                                <%var winScore = Math.round(agg.bottomWinScore * 10000)/10000 %>
                                                                <%var lossScore = Math.round(agg.bottomLossScore * 10000)/10000 %>
                                                                <h5 style="display: inline-block; "><strong><%=match.bottomTeam.name%></strong></h5>
                                                                <h6 style="display: inline-block; float: right;">(
                                                                    <% if (!match.winner) { %> 
                                                                        +<%=winScore%> or <%=lossScore%>
                                                                    <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                                       +<%=winScore%>
                                                                    <% } else { %>
                                                                       <%=lossScore%>
                                                                    <% } %>
                                                                )</h6>
                                                            </div>
                                                            <ul>
                                                                <% for (var k = 0; k < agg.bottomTeamPickers.length; k++) { %>
                                                                    <li>
                                                                        <%= agg.bottomTeamPickers[k].firstName %>
                                                                        <% if(agg.bottomTeamPickers[k].comment && agg.bottomTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                            <em>- <%= agg.bottomTeamPickers[k].comment %></em>
                                                                        <% } %>
                                                                    </li>
                                                                <% } %>
                                                            </ul>
                                                    </div>
                                                    
                                                <% } %>
                                                
                                            </div>
                                            <!--end aggregateBox-->
                                        <% } %> 
                                        <!--end looping through quarterNumMatches-->
                                    </div>
                                    <!--end oneRound-->
                                <% } %>
                                <!--end looping through rounds-->
                            
                            
                                <!--champion-->
                                <div class="oneRound">
                                    <div class="match">
                                        <div class="team">
                                            <div class="teamTitle">
                                                <% if(tournament.champion) { %>
                                                    <img class="championshipImage" src="<%= tournament.champion.image %>">
                                                    <span class="seed"><%=tournament.champion.seed%></span>
                                                    <span class="teamName"><%= tournament.champion.name%>&nbsp</span>
                                                <% } else { %>
                                                    &nbsp
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <!--endMatch-->
                                </div>  
                                <!--endOneRound-->
                            </div>
                            <!--end region round-->
                        </div>
                        <!--end empty div-->
                    </div>
                    <!--end center region-->
                </div>
                <!--end championshipSide-->
            </div>
            <!--end col-xs-12 bracket-->
        </div>
        <!--end row-->
    </div> 
    <!--end container-fluid-->
    <% if (bonAgg) { %>
        <% if (bonAgg[4].length < 7) { %>
            <div class="championPicks" style="margin-top: -200px">
        <% } else { %>
            <div class="championPicks" >
        <% } %>
            
                <div class="bonusAggregate champAggregate">
                    <h3 class="bonusRegion">Champion Picks</h3>
                    <% if(bonAgg[4].length > 16) { %>
                        <div class="xlarge-grid">
                    <% } else if(bonAgg[4].length > 9) { %>
                        <div class="large-grid">
                    <% } else { %>
                        <div class="grid">
                    <% } %>
                            <% for (var j = 0; j < bonAgg[4].length; j++) { %>
                                <% if (bonAgg[4][j].team.id.lost > 0) { %>
                                    <div class="grid-item lost">
                                        <img src="<%= bonAgg[4][j].team.image %>" onmouseover="nhpup.popup($('#bonAgg<%= (bonAgg[4][j].matchNumber + bonAgg[4][j].team.id._id)%>').html());">
                                    </div>
                                <% } else { %>
                                    <div class="grid-item">
                                        <img src="<%= bonAgg[4][j].team.image %>" onmouseover="nhpup.popup($('#bonAgg<%= (bonAgg[4][j].matchNumber + bonAgg[4][j].team.id._id)%>').html());">
                                    </div>
                                <% } %>  
                                
                                <!--bonus aggregate popup-->
                                <% var match = bonAgg[4][j].matchReference %>
                                <div class="aggregateBox" id="bonAgg<%= (bonAgg[4][j].matchNumber + bonAgg[4][j].team.id._id)%>" style= "display: none;">
                                    <% if (!match.winner) { %> 
                                        <div class="bonAggregate noWin" >
                                    <% } else if (String(match.winner) === String(match.team.id)) { %>
                                       <div class="bonAggregate win" >
                                    <% } else { %>
                                        <div class="bonAggregate loss" >
                                    <% } %>
                                            <div class="teamHeader">
                                                <h5 style="display: inline-block; "><strong><%=bonAgg[4][j].team.name%></strong></h5>
                                            </div>
                                            <ul>
                                                <% for (var k = 0; k < bonAgg[4][j].teamPickers.length; k++) { %>
                                                    <li>
                                                        <%= bonAgg[4][j].teamPickers[k].firstName %>
                                                        <% if(bonAgg[4][j].teamPickers[k].comment && bonAgg[4][j].teamPickers[k].comment.trim().length > 0 ) { %>
                                                            <em>- <%= bonAgg[4][j].teamPickers[k].comment %></em>
                                                        <% } %>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                </div>
                                <!--end bonus aggregate popup-->
                            <% } %>
                        </div>
                </div>
                
            </div>
        
        <div class="spacer" style="display: block; height: <%=Math.floor(Math.sqrt(bonAgg[4].length)-2)*50%>px;"><br></div>
        <div class="bonusPicks">
            <% for(var i = 0; i < bonAgg.length - 1; i++) { %>
                <div class="bonusAggregate">
                    <h3 class="bonusRegion"><%=tournament.regions[i]%> Picks</h3>
                    <div class="grid">
    
                        <% for (var j = 0; j < bonAgg[i].length; j++) { %>
                            <% if (bonAgg[i][j].team.id.lost > 0) { %>
                                <div class="grid-item lost">
                                    <img src="<%= bonAgg[i][j].team.image %>" onmouseover="nhpup.popup($('#bonAgg<%= (bonAgg[i][j].matchNumber + bonAgg[i][j].team.id._id)%>').html());">
                                </div>
                            <% } else { %>
                                <div class="grid-item">
                                    <img src="<%= bonAgg[i][j].team.image %>" onmouseover="nhpup.popup($('#bonAgg<%= (bonAgg[i][j].matchNumber + bonAgg[i][j].team.id._id)%>').html());">
                                </div>
                            <% } %>   
    
                            <!--bonus aggregate popup - make sure onmouseover is set to the div/image you want to cause this popup-->
                            <% var match = bonAgg[i][j].matchReference %>
                            <div class="aggregateBox" id="bonAgg<%= (bonAgg[i][j].matchNumber + bonAgg[i][j].team.id._id)%>" style= "display: none;">
                                <% if (!match.winner) { %> 
                                    <div class="bonAggregate noWin" >
                                <% } else if (String(match.winner) === String(match.team.id)) { %>
                                   <div class="bonAggregate win" >
                                <% } else { %>
                                    <div class="bonAggregate loss" >
                                <% } %>
                                        <div class="teamHeader">
                                            <h5 style="display: inline-block; "><strong><%=bonAgg[i][j].team.name%></strong></h5>
                                        </div>
                                        <ul>
                                            <% for (var k = 0; k < bonAgg[i][j].teamPickers.length; k++) { %>
                                                <li>
                                                    <%= bonAgg[i][j].teamPickers[k].firstName %>
                                                    <% if(bonAgg[i][j].teamPickers[k].comment && bonAgg[i][j].teamPickers[k].comment.trim().length > 0 ) { %>
                                                        <em>- <%= bonAgg[i][j].teamPickers[k].comment %></em>
                                                    <% } %>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                            </div>
                            <!--end bonus aggregate popup-->
    
    
    
                        <% } %>
                    
                    </div>
                    
                    
                </div>
                
                
            <% } %>
        </div>
    <% } %>
   

</main>
<!--end tournament-->





     <footer class="bracket">
            
            <!--<p>&nbsp</p>-->
        </footer>
        
        <!--Bootstrap JS CDN-->
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous">
        </script>
    </body>
</html>