<!DOCTYPE>
<html>
    <head>
        <!--Make site responsive on mobile/tablet-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>McNaughton March Madness</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
    	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    	
    	<script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
          
        <script type="text/javascript" src="/js/nhpup_1.1.js"></script>
          
        
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        
<% include ../partials/navBar %>

<% var tournament = tournamentGroup.tournamentReference.id %>

                    
<main id="tournament">
    <div class="container-fluid" style="padding-bottom: 50px; min-height: 300px">
        <div class="row">
            <div class="col-xs-12 bracket"> 
            
                <!--=========================-->
                <!--      FOUR QUADRANTS     -->
                <!--=========================-->
                <% for (quadNum = 0; quadNum < 4; quadNum++) { %>
                    <% if (quadNum === 0) { %>
                        <div class="bracketContents leftSide">
                    <% } else if (quadNum === 2) { %>
                        <div class="bracketContents rightSide">
                    <% } %>
                    
                            <% if (quadNum % 2 === 0) { %>
                                <div class="bracketQuadrant bracketRegion topRegion">
                            <% } else { %>
                                <div class="bracketQuadrant bracketRegion bottomRegion">
                            <% } %>
                                    <h2 class="regionLocation"><%=tournament.regions[quadNum]%></h2>
                                    <div>
                                        <div class="regionRounds">
                                            <!--5 rounds per region-->
                                            <% for(var i = 0; i < tournament.rounds.length-1; i++) { %>
                                                <div class="oneRound">
                                                    <!--number of matches vary per round: we only want 1/4 of all matches in the round in this quadrant-->
                                                    <% var quarterNumMatches = tournament.rounds[i].matches.length / 4 %>
                                                    <% for(var j = 0; j < quarterNumMatches; j++) { %>
                                                        <% var match = tournament.rounds[i].matches[Math.floor(quadNum * quarterNumMatches) + j] %>
                                                        <div class="match" id="match<%= match.matchNumber%>" onmouseover="nhpup.popup($('#matchAggregate<%= match.matchNumber %>').html());">
                                                            <% if (i < tournament.rounds.length - 2 || quadNum % 2 === 0) { %>
                                                                <div class="team">
                                                                    <div class="teamTitle">
                                                                        <% if(match.topTeam !== null) { %>
                                                                            <img src="<%= match.topTeam.image %>">
                                                                            <span class="seed"><%=match.topTeam.seed%></span>
                                                                            
                                                                            
                                                                            <span class="teamName"><%=match.topTeam.name.replace("State","St.")%></span>
                                                                         <% } else { %>
                                                                            &nbsp
                                                                        <% } %>
                                                                    </div>
                                                                    <!--end team title-->
                                                                </div>
                                                                <!--end top team-->
                                                            <% } %>
                                                            
                                                            
                                                            
                                                            <% if (i < tournament.rounds.length - 2 || quadNum % 2 === 1) { %>
                                                                <div class="team">
                                                                    <div class="teamTitle">
                                                                        <% if(match.bottomTeam !== null) { %>
                                                                            <img src="<%= match.bottomTeam.image %>">
                                                                            <span class="seed"><%=match.bottomTeam.seed%></span>
                                                                            <span class="teamName"><%=match.bottomTeam.name.replace("State","St.")%></span>
                                                                        <% } else { %>
                                                                            &nbsp
                                                                        <% } %>
                                                                    </div>
                                                                    <!--end team title-->
                                                                </div>
                                                                <!--end bottom team-->
                                                            <% } %>
                                                            
                                                        </div>
                                                        <!--end match-->
                                                        
                                                        <div class="aggregateBox" id="matchAggregate<%= match.matchNumber %>" style= "display: none;">
                                                            <!--things get screwy here if all participants go a round without picking...but I guess if an entire group forgets to pick, no one cares enough-->
                                                            <% if(tournamentGroup.userMatchAggregates[match.matchNumber-1] && match.topTeam && match.bottomTeam){ %>
                                                                <% var agg = tournamentGroup.userMatchAggregates[match.matchNumber-1] %>
                                                            
                                                               
                                                                <% if (!match.winner) { %> 
                                                                    <div class="aggregate noWin" >
                                                                <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                                   <div class="aggregate win" >
                                                                <% } else { %>
                                                                    <div class="aggregate loss" >
                                                                <% } %>
                                                                        <div class="teamHeader">
                                                                            <%var winScore = Math.round(agg.topWinScore * 10000)/10000 %>
                                                                            <%var lossScore = Math.round(agg.topLossScore * 10000)/10000 %>
                                                                            <h5 style="display: inline-block; "><strong><%=match.topTeam.name%></strong></h5>
                                                                            <h6 style="display: inline-block; float: right;">(
                                                                                <% if (!match.winner) { %> 
                                                                                    +<%=winScore%> or <%=lossScore%>
                                                                                <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                                                   +<%=winScore%>
                                                                                <% } else { %>
                                                                                   <%=lossScore%>
                                                                                <% } %>
                                                                            )</h6>
                                                                        </div>
                                                                        <ul>
                                                                            <% for (var k = 0; k < agg.topTeamPickers.length; k++) { %>
                                                                                <li>
                                                                                    <%= agg.topTeamPickers[k].firstName %>
                                                                                    <% if(agg.topTeamPickers[k].comment && agg.topTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                                        <em>- <%= agg.topTeamPickers[k].comment %></em>
                                                                                    <% } %>
                                                                                </li>
                                                                            <% } %>
                                                                        </ul>
                                                                    </div>
                                                               
                                                                 <% if (!match.winner) { %> 
                                                                    <div class="aggregate noWin" >
                                                                <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                                   <div class="aggregate win" >
                                                                <% } else { %>
                                                                    <div class="aggregate loss" >
                                                                <% } %>
                                                                        <div class="teamHeader">
                                                                            <%var winScore = Math.round(agg.bottomWinScore * 10000)/10000 %>
                                                                            <%var lossScore = Math.round(agg.bottomLossScore * 10000)/10000 %>
                                                                            <h5 style="display: inline-block; "><strong><%=match.bottomTeam.name%></strong></h5>
                                                                            <h6 style="display: inline-block; float: right;">(
                                                                                <% if (!match.winner) { %> 
                                                                                    +<%=winScore%> or <%=lossScore%>
                                                                                <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                                                   +<%=winScore%>
                                                                                <% } else { %>
                                                                                   <%=lossScore%>
                                                                                <% } %>
                                                                            )</h6>
                                                                        </div>
                                                                        <ul>
                                                                            <% for (var k = 0; k < agg.bottomTeamPickers.length; k++) { %>
                                                                                <li>
                                                                                    <%= agg.bottomTeamPickers[k].firstName %>
                                                                                    <% if(agg.bottomTeamPickers[k].comment && agg.bottomTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                                        <em>- <%= agg.bottomTeamPickers[k].comment %></em>
                                                                                    <% } %>
                                                                                </li>
                                                                            <% } %>
                                                                        </ul>
                                                                </div>
                                                                
                                                            <% } %>
                                                            
                                                        </div>
                                                    <% } %> 
                                                    <!--end looping through quarterNumMatches-->
                                                </div>
                                                <!--end oneRound-->
                                            <% } %>
                                            <!--end looping through rounds-->
                                        </div>
                                        <!--end regionRounds-->
                                    </div>
                                    <!--end blank div-->
                            </div>
                            <!--end top/bottom region-->
                    
                    <% if (quadNum % 2 === 1) { %>
                        </div>
                    <% } %>
                    <!--end left/right side-->
                <% } %>
                <!--end quadNum for loop-->
                
                
                
                <!--=========================-->
                <!--       CHAMPIONSHIP      -->
                <!--=========================-->
                <div class="bracketContents championshipSide">
                    <div class="bracketQuadrant centerRegion">
                        <h2 class="regionLocation">Final Four</h2>
                        <div>
                            <div class="regionRounds">
                                
                                <% for(var i = 4; i < tournament.rounds.length; i++) { %>
                                    <div class="oneRound">
                                        <% for(var j = 0; j < tournament.rounds[i].matches.length; j++) { %>
                                            <% var match = tournament.rounds[i].matches[j] %>
                                            <div class="match" id="match<%= match.matchNumber%>" onmouseover="nhpup.popup($('#matchAggregate<%= match.matchNumber %>').html());">
                                                <% if (i < tournament.rounds.length - 2 || quadNum % 2 === 0) { %>
                                                    <div class="team">
                                                        <div class="teamTitle">
                                                            <% if(match.topTeam !== null) { %>
                                                                <img src="<%= match.topTeam.image %>">
                                                                <span class="seed"><%=match.topTeam.seed%></span>
                                                                <span class="teamName"><%=match.topTeam.name.replace("State","St.")%></span>
                                                             <% } else { %>
                                                                &nbsp
                                                            <% } %>
                                                        </div>
                                                        <!--end team title-->
                                                    </div>
                                                    <!--end top team-->
                                                <% } %>

                                                    <div class="team">
                                                        <div class="teamTitle">
                                                            <% if(match.bottomTeam !== null) { %>
                                                                <img src="<%= match.bottomTeam.image %>">
                                                                <span class="seed"><%=match.bottomTeam.seed%></span>
                                                                <span class="teamName"><%=match.bottomTeam.name.replace("State","St.")%></span>
                                                            <% } else { %>
                                                                &nbsp
                                                            <% } %>
                                                        </div>
                                                        <!--end team title-->
                                                    </div>
                                                    <!--end bottom team-->
                                             
                                                
                                            </div>
                                            <!--end match-->
                                            
                                            <div class="aggregateBox" id="matchAggregate<%= match.matchNumber %>" style= "display: none;">
                                                <!--things get screwy here if all participants go a round without picking...but I guess if an entire group forgets to pick, no one cares enough-->
                                                <% if(tournamentGroup.userMatchAggregates[match.matchNumber-1] && match.topTeam && match.bottomTeam){ %>
                                                    <% var agg = tournamentGroup.userMatchAggregates[match.matchNumber-1] %>
                                                
                                                   
                                                    <% if (!match.winner) { %> 
                                                        <div class="aggregate noWin" >
                                                    <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                       <div class="aggregate win" >
                                                    <% } else { %>
                                                        <div class="aggregate loss" >
                                                    <% } %>
                                                            <div class="teamHeader">
                                                                <%var winScore = Math.round(agg.topWinScore * 10000)/10000 %>
                                                                <%var lossScore = Math.round(agg.topLossScore * 10000)/10000 %>
                                                                <h5 style="display: inline-block; "><strong><%=match.topTeam.name%></strong></h5>
                                                                <h6 style="display: inline-block; float: right;">(
                                                                    <% if (!match.winner) { %> 
                                                                        +<%=winScore%> or <%=lossScore%>
                                                                    <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                                       +<%=winScore%>
                                                                    <% } else { %>
                                                                       <%=lossScore%>
                                                                    <% } %>
                                                                )</h6>
                                                            </div>
                                                            <ul>
                                                                <% for (var k = 0; k < agg.topTeamPickers.length; k++) { %>
                                                                    <li>
                                                                        <%= agg.topTeamPickers[k].firstName %>
                                                                        <% if(agg.topTeamPickers[k].comment && agg.topTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                            <em>- <%= agg.topTeamPickers[k].comment %></em>
                                                                        <% } %>
                                                                    </li>
                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                   
                                                     <% if (!match.winner) { %> 
                                                        <div class="aggregate noWin" >
                                                    <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                       <div class="aggregate win" >
                                                    <% } else { %>
                                                        <div class="aggregate loss" >
                                                    <% } %>
                                                            <div class="teamHeader">
                                                                <%var winScore = Math.round(agg.bottomWinScore * 10000)/10000 %>
                                                                <%var lossScore = Math.round(agg.bottomLossScore * 10000)/10000 %>
                                                                <h5 style="display: inline-block; "><strong><%=match.bottomTeam.name%></strong></h5>
                                                                <h6 style="display: inline-block; float: right;">(
                                                                    <% if (!match.winner) { %> 
                                                                        +<%=winScore%> or <%=lossScore%>
                                                                    <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                                       +<%=winScore%>
                                                                    <% } else { %>
                                                                       <%=lossScore%>
                                                                    <% } %>
                                                                )</h6>
                                                            </div>
                                                            <ul>
                                                                <% for (var k = 0; k < agg.bottomTeamPickers.length; k++) { %>
                                                                    <li>
                                                                        <%= agg.bottomTeamPickers[k].firstName %>
                                                                        <% if(agg.bottomTeamPickers[k].comment && agg.bottomTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                            <em>- <%= agg.bottomTeamPickers[k].comment %></em>
                                                                        <% } %>
                                                                    </li>
                                                                <% } %>
                                                            </ul>
                                                    </div>
                                                    
                                                <% } %>
                                                
                                            </div>
                                        <% } %> 
                                        <!--end looping through quarterNumMatches-->
                                    </div>
                                    <!--end oneRound-->
                                <% } %>
                                <!--end looping through rounds-->
                            
                            
                                <!--champion-->
                                <div class="oneRound">
                                    <div class="match">
                                        <div class="team">
                                            <div class="teamTitle">
                                                <% if(tournament.champion) { %>
                                                    <img class="championshipImage" src="<%= tournament.champion.image %>">
                                                    <span class="seed"><%=tournament.champion.seed%></span>
                                                    <span class="teamName"><%= tournament.champion.name%>&nbsp</span>
                                                <% } else { %>
                                                    &nbsp
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <!--endMatch-->
                                </div>  
                                <!--endOneRound-->
                            </div>
                            <!--end region round-->
                        </div>
                        <!--end empty div-->
                    </div>
                    <!--end center region-->
                </div>
                <!--end championshipSide-->
            </div>
            <!--end col-xs-12 bracket-->
        </div>
        <!--end row-->
    </div> 
    <!--end container-fluid-->
    
</main>
<!--end tournament-->

<script>




</script>






<% include ../partials/footer %>