<!DOCTYPE>
<html>
    <head>
        <!--Make site responsive on mobile/tablet-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>McNaughton March Madness</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
    	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    	
    	<link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    	
    	<script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
          
        <script type="text/javascript" src="/js/nhpup_1.1.js"></script>
          
        
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        
<% include ../partials/navBar %>

<% var tournament = tournamentGroup.tournamentReference.id %>

	<header class="hero">
    <div class="hero-wrap">
     <p class="intro" id="intro">McNaughton</p>
		 <h1 id="headline">March Madness</h1>
		 <p class="year"><i class="fas fa-star"></i> <%=tournament.year%> <i class="fa fa-star"></i></p>
     <p><%=tournamentGroup.groupName%></p>
   </div>
	</header>
	

                    
<main id="tournament">
    <div class="container-fluid" style="padding-bottom: 50px; min-height: 300px">
        <div class="row">
            <div class="col-xs-12 bracket"> 
            
                <!--=========================-->
                <!--      FOUR QUADRANTS     -->
                <!--=========================-->
                <% for (quadNum = 0; quadNum < 4; quadNum++) { %>
                    <% if (quadNum === 0) { %>
                        <div class="bracketContents leftSide">
                    <% } else if (quadNum === 2) { %>
                        <div class="bracketContents rightSide">
                    <% } %>
                    
                            <% if (quadNum % 2 === 0) { %>
                                <div class="bracketQuadrant bracketRegion topRegion">
                            <% } else { %>
                                <div class="bracketQuadrant bracketRegion bottomRegion">
                            <% } %>
                                    <h2 class="regionLocation"><%=tournament.regions[quadNum]%></h2>
                                    <div>
                                        <div class="regionRounds">
                                            <!--5 rounds per region-->
                                            <% for(var i = 0; i < tournament.rounds.length-1; i++) { %>
                                                <div class="oneRound">
                                                    <!--number of matches vary per round: we only want 1/4 of all matches in the round in this quadrant-->
                                                    <% var quarterNumMatches = tournament.rounds[i].matches.length / 4 %>
                                                    <% for(var j = 0; j < quarterNumMatches; j++) { %>
                                                        <% var match = tournament.rounds[i].matches[Math.floor(quadNum * quarterNumMatches) + j] %>
                                                        <div class="match" id="match<%= match.matchNumber%>" onmouseover="nhpup.popup($('#matchAggregate<%= match.matchNumber %>').html());">
                                                            <% if (i < tournament.rounds.length - 2 || quadNum % 2 === 0) { %>
                                                                <div class="team">
                                                                    <div class="teamTitle">
                                                                        <% if(match.topTeam !== null) { %>
                                                                            <span class="seed"><%=match.topTeam.seed%></span>
                                                                            <span class="teamName"><%=match.topTeam.name%></span>
                                                                         <% } else { %>
                                                                            &nbsp
                                                                        <% } %>
                                                                    </div>
                                                                    <!--end team title-->
                                                                </div>
                                                                <!--end top team-->
                                                            <% } %>
                                                            
                                                            
                                                            
                                                            <% if (i < tournament.rounds.length - 2 || quadNum % 2 === 1) { %>
                                                                <div class="team">
                                                                    <div class="teamTitle">
                                                                        <% if(match.bottomTeam !== null) { %>
                                                                            <span class="seed"><%=match.bottomTeam.seed%></span>
                                                                            <span class="teamName"><%=match.bottomTeam.name%></span>
                                                                        <% } else { %>
                                                                            &nbsp
                                                                        <% } %>
                                                                    </div>
                                                                    <!--end team title-->
                                                                </div>
                                                                <!--end bottom team-->
                                                            <% } %>
                                                            
                                                        </div>
                                                        <!--end match-->
                                                        
                                                        <div class="aggregateBox" id="matchAggregate<%= match.matchNumber %>" style= "display: none;">
                                                            
                                                            <% if(tournamentGroup.userMatchAggregates[match.matchNumber-1] && match.topTeam && match.bottomTeam){ %>
                                                                <% var agg = tournamentGroup.userMatchAggregates[match.matchNumber-1] %>
                                                            
                                                               
                                                                <% if (!match.winner) { %> 
                                                                    <div class="aggregate noWin" >
                                                                <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                                   <div class="aggregate win" >
                                                                <% } else { %>
                                                                    <div class="aggregate loss" >
                                                                <% } %>
                                                                        <div class="teamHeader">
                                                                            <%var winScore = Math.round(agg.topWinScore * 10000)/10000 %>
                                                                            <%var lossScore = Math.round(agg.topLossScore * 10000)/10000 %>
                                                                            <h5 style="display: inline-block; "><strong><%=match.topTeam.name%></strong></h5>
                                                                            <h6 style="display: inline-block; float: right;">(
                                                                                <% if (!match.winner) { %> 
                                                                                    +<%=winScore%> or <%=lossScore%>
                                                                                <% } else if (String(match.winner) === String(match.topTeam._id)) { %>
                                                                                   +<%=winScore%>
                                                                                <% } else { %>
                                                                                   <%=lossScore%>
                                                                                <% } %>
                                                                            )</h6>
                                                                        </div>
                                                                        <ul>
                                                                            <% for (var k = 0; k < agg.topTeamPickers.length; k++) { %>
                                                                                <li>
                                                                                    <%= agg.topTeamPickers[k].firstName %>
                                                                                    <% if(agg.topTeamPickers[k].comment && agg.topTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                                        <em>- <%= agg.topTeamPickers[k].comment %></em>
                                                                                    <% } %>
                                                                                </li>
                                                                            <% } %>
                                                                        </ul>
                                                                    </div>
                                                               
                                                                 <% if (!match.winner) { %> 
                                                                    <div class="aggregate noWin" >
                                                                <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                                   <div class="aggregate win" >
                                                                <% } else { %>
                                                                    <div class="aggregate loss" >
                                                                <% } %>
                                                                        <div class="teamHeader">
                                                                            <%var winScore = Math.round(agg.bottomWinScore * 10000)/10000 %>
                                                                            <%var lossScore = Math.round(agg.bottomLossScore * 10000)/10000 %>
                                                                            <h5 style="display: inline-block; "><strong><%=match.bottomTeam.name%></strong></h5>
                                                                            <h6 style="display: inline-block; float: right;">(
                                                                                <% if (!match.winner) { %> 
                                                                                    +<%=winScore%> or <%=lossScore%>
                                                                                <% } else if (String(match.winner) === String(match.bottomTeam._id)) { %>
                                                                                   +<%=winScore%>
                                                                                <% } else { %>
                                                                                   <%=lossScore%>
                                                                                <% } %>
                                                                            )</h6>
                                                                        </div>
                                                                        <ul>
                                                                            <% for (var k = 0; k < agg.bottomTeamPickers.length; k++) { %>
                                                                                <li>
                                                                                    <%= agg.bottomTeamPickers[k].firstName %>
                                                                                    <% if(agg.bottomTeamPickers[k].comment && agg.bottomTeamPickers[k].comment.trim().length > 0 ) { %>
                                                                                        <em>- <%= agg.bottomTeamPickers[k].comment %></em>
                                                                                    <% } %>
                                                                                </li>
                                                                            <% } %>
                                                                        </ul>
                                                                </div>
                                                                
                                                            <% } %>
                                                            
                                                        </div>
                                                    <% } %> 
                                                    <!--end looping through quarterNumMatches-->
                                                </div>
                                                <!--end oneRound-->
                                            <% } %>
                                            <!--end looping through rounds-->
                                        </div>
                                        <!--end regionRounds-->
                                    </div>
                                    <!--end blank div-->
                            </div>
                            <!--end top/bottom region-->
                    
                    <% if (quadNum % 2 === 1) { %>
                        </div>
                    <% } %>
                    <!--end left/right side-->
                <% } %>
                <!--end quadNum for loop-->
                
                
                
                <!--=========================-->
                <!--       CHAMPIONSHIP      -->
                <!--=========================-->
                <div class="bracketContents championshipSide">
                    <div class="bracketQuadrant centerRegion">
                        <h2 class="regionLocation">Final Four</h2>
                        <div>
                            <div class="regionRounds">
                                
                                <!--need this div to eat up a selector...probably should just fix the css-->
                                <div class="oneRound"></div>
                                <div class="oneRound">
                                    <% var match = tournament.rounds[5].matches[0] %>
                                    <div class="match">
                                        <div class="team">
                                            <div class="teamTitle">
                                                <% if(match.topTeam !== null) { %>
                                                    <span class="seed"><%=match.topTeam.seed%></span>
                                                    <span class="teamName"><%=match.topTeam.name%></span>
                                                 <% } else { %>
                                                    &nbsp
                                                <% } %>
                                            </div>
                                            <!--end team title-->
                                        </div>
                                        <!--end top team-->
                                        <div class="team">
                                            <div class="teamTitle">
                                                <% if(match.bottomTeam !== null) { %>
                                                    <span class="seed"><%=match.bottomTeam.seed%></span>
                                                    <span class="teamName"><%=match.bottomTeam.name%></span>
                                                <% } else { %>
                                                    &nbsp
                                                <% } %>
                                            </div>
                                            <!--end team title-->
                                        </div>
                                        <!--end bottom team-->
                                    </div>
                                    <!--end match-->
                                </div>
                                <!--end oneRound-->
                                
                                
                                <!--champion-->
                                <div class="oneRound">
                                    <div class="match">
                                        <div class="team">
                                            <div class="teamTitle">
                                                <% if(tournament.champion) { %>
                                                    <span class="seed"><%=tournament.champion.seed%></span>
                                                    <span class="teamName"><%= tournament.champion.name%></span>
                                                <% } else { %>
                                                    &nbsp
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <!--endMatch-->
                                </div>  
                                <!--endOneRound-->
                            </div>
                            <!--end region round-->
                        </div>
                        <!--end empty div-->
                    </div>
                    <!--end center region-->
                </div>
                <!--end championshipSide-->
            </div>
            <!--end col-xs-12 bracket-->
        </div>
        <!--end row-->
    </div> 
    <!--end container-fluid-->
    
</main>
<!--end tournament-->

<script>

// function handleShow( matchNum ) {
//     return function(ev) {
//         $("#table" + matchNum).stop(true,true).fadeIn(); 
//     }
// }

// function handleHide( matchNum ) {
//     return function(ev) {
//         $("#table" + matchNum).stop(true,true).fadeOut();
//     }
// }

// function handleMouse( matchNum ) {
//     return function(ev) {
//         $("#table" + matchNum).css({left:ev.clientX+10,top:ev.clientY+10});;
//     }
// }

// for (var i = 1; i < 64; i++) {
//     $("#match" + i).hover( handleShow(i), handleHide(i) ).mousemove( handleMouse(i) );
// }

// $("#match3").hover(function(ev){
//     $('#table3').stop(true,true).fadeIn(); 
// },function(ev){
//     $('#table3').stop(true,true).fadeOut();
// }).mousemove(function(ev){
//     $('#table3').css({left:ev.layerX+10,top:ev.layerY+10});
// });


    
</script>






<% include ../partials/footer %>