<% include ../partials/header %>

<h4><%=userTournament.user.firstName%>'s Picks</h4>
<h4>Cumulative Score: <%=userTournament.score%></h4>
<h4><%=userTournament.userRounds.length%></h4>


<% for(var i = 0; i < userTournament.userRounds.length; i++) { %>
    <% var numRound = Number(userTournament.userRounds[i].round.numRound) %>
    <% if (numRound < 7) { %>
        <h2>Round <%=numRound%> - <%=userTournament.userRounds[i].roundScore%></h2>
    <% } else if (numRound === 7) { %>
        <h2>Final Four</h2>
    <% } else { %>
        <h2>Champion</h2>
    <% } %>
    <% for(var j = 0; j < userTournament.userRounds[i].userMatchPredictions.length; j++) { %>
        <% var userMatch = userTournament.userRounds[i].userMatchPredictions[j] %>
        <h5>
            <%= userMatch.numRound %> - 
        <% if (userMatch.winner) { %>
            <strong><%=userMatch.winner.name%></strong>
        <% } %>
           (<%=userMatch.score%>)
        <% if (userMatch.comment) { %>
            <em>- <%= userMatch.comment %></em>
        <% } %>
        </h5>
       
    <% } %>
<% } %>




<% include ../partials/footer %>