<% include ../partials/header %>

<!--=========================================-->
<!--Change to A SPECIFIC TOURNAMENT-->
<!--=========================================-->

<h4><%=tournament.year%></h4>
<h4><%=tournament.numTeams%></h4>
<h4><%=tournament.rounds.length%></h4>

<% for(var i = 0; i < tournament.rounds.length; i++) { %>
    <h2>Round <%=tournament.rounds[i].numRound%></h2>
    <h3>Start Time: <% moment(tournament.rounds[i].startTime).format("dddd, MMMM Do YYYY, h:mm:ss a") %></h3>
    <% for(var j = 0; j < tournament.rounds[i].matches.length; j++) { %>
        <% var match = tournament.rounds[i].matches[j] %>
        <h5><%=match.matchNumber%></h5>
        
        <% if(match.topTeam === null) { %>
            <h5>Team TBD</h5>
        <% } else { %>
            <h5><%=match.topTeam.seed%>) <%=match.topTeam.name%></h5>
        <% } %>
         <% if(match.bottomTeam === null) { %>
            <h5>Team TBD</h5>
        <% } else { %>
            <h5><%=match.bottomTeam.seed%>) <%=match.bottomTeam.name%></h5>
        <% } %>


    <% } %>
<% } %>
<h2>Champion</h2>
<% if (tournament.champion) { %>

    <h5><%= tournament.champion.seed %>) <%= tournament.champion.name%></h5>
<% } else { %>
    <br>
<% } %>


<% include ../partials/footer %>