<% include ../partials/header %>

<% var numRound = round.numRound %>
<h1 style="text-align: center;">Set Round <%=numRound%> Winners</h1>
<p class="text-center text-muted">Select the winning team for each match, then submit.</p>

<div class="row">
    <form class="teamPicker" action="/tournaments/<%= tournament.year %>/rounds/<%= round.numRound %>?_method=PUT" method="POST">

        <% var matches = tournament.rounds[numRound - 1].matches %>
        <% var quarterNumMatches = matches.length / 4 %>

        <% for(var j = 0; j < matches.length; j++) { %>
            <% var match = matches[j] %>

            <% if(numRound < 5 && j % quarterNumMatches === 0) { %>
                <div class="regionPicker col-xs-12 col-sm-6 col-md-3">
                    <h2 class="regionLabel"><%= tournament.regions[Math.floor(j / quarterNumMatches)] %></h2>
            <% } else if(numRound >= 5 && j % 1 === 0) { %>
                <div class="regionPicker col-xs-12 col-sm-6 col-md-3">
            <% } %>

            <% if(!match.winner) { %>
                <div class="form-group matchPicker">
                    <% var matchNum = match.matchNumber %>
                    <% var idMaker = tournament.year + "m" + match.matchNumber %>

                    <label for="<%=idMaker%>top" style="display: block">
                        <div class="team">
                            <input class="radio" type="radio" id="<%=idMaker%>top" name="<%=matchNum%>" value="<%= match.topTeam ? match.topTeam._id : '' %>">
                            <div class="teamTitle">
                                <% if(match.topTeam) { %>
                                    <img class="pickerImage" src="<%= match.topTeam.image %>">
                                    <span class="seed"><%=match.topTeam.seed%></span>
                                    <span class="teamName"><%=match.topTeam.name.replace("State","St.")%></span>
                                <% } else { %>
                                    <span class="teamName">TBD</span>
                                <% } %>
                            </div>
                        </div>
                    </label>

                    <label for="<%=idMaker%>bottom" style="display: block">
                        <div class="team">
                            <input class="radio" type="radio" id="<%=idMaker%>bottom" name="<%=matchNum%>" value="<%= match.bottomTeam ? match.bottomTeam._id : '' %>">
                            <div class="teamTitle">
                                <% if(match.bottomTeam) { %>
                                    <img class="pickerImage" src="<%= match.bottomTeam.image %>">
                                    <span class="seed"><%=match.bottomTeam.seed%></span>
                                    <span class="teamName"><%=match.bottomTeam.name.replace("State","St.")%></span>
                                <% } else { %>
                                    <span class="teamName">TBD</span>
                                <% } %>
                            </div>
                        </div>
                    </label>
                </div>
            <% } else { %>
                <div class="form-group matchPicker" style="opacity: 0.5;">
                    <div class="team">
                        <div class="teamTitle">
                            <% if(match.topTeam) { %>
                                <img class="pickerImage" src="<%= match.topTeam.image %>">
                                <span class="seed"><%=match.topTeam.seed%></span>
                                <span class="teamName" style="<%= match.winner && match.topTeam && match.winner.equals(match.topTeam._id) ? 'font-weight:bold;' : 'text-decoration:line-through;' %>"><%=match.topTeam.name.replace("State","St.")%></span>
                            <% } %>
                        </div>
                    </div>
                    <div class="team">
                        <div class="teamTitle">
                            <% if(match.bottomTeam) { %>
                                <img class="pickerImage" src="<%= match.bottomTeam.image %>">
                                <span class="seed"><%=match.bottomTeam.seed%></span>
                                <span class="teamName" style="<%= match.winner && match.bottomTeam && match.winner.equals(match.bottomTeam._id) ? 'font-weight:bold;' : 'text-decoration:line-through;' %>"><%=match.bottomTeam.name.replace("State","St.")%></span>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>

            <% if(numRound < 5 && j % quarterNumMatches === quarterNumMatches - 1) { %>
                </div>
            <% } else if(numRound >= 5) { %>
                </div>
            <% } %>

        <% } %>

        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-default btn-block">Submit Winners</button>
        </div>
    </form>
</div>

<% include ../partials/footer %>
